*
{
    margin: 0%;
    padding: 0%;
}
.container
{
    width: 600px;
    height: 300px;
    display: flex;
    padding: 50px;
    justify-content: space-around;
   
}
body
{
    display: grid;
    place-items: center;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0,0.8),rgba(0, 0, 0,0.1)), url('https://images.pexels.com/photos/9072208/pexels-photo-9072208.jpeg?auto=compress&cs=tinysrgb&w=1200');
    background-position: center;
    background-size: cover;
}
.box1
{
    width: 40%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
    display: grid;
    place-items: center;

}
.box2
{
    width: 40%;
    height: 100%;
    background-color:white;
    border-radius: 50%;
    display: grid;
    place-items: center;

}
button
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 60px;
    border: none;
}
p
{
   font-size: 40px;
   font-family: sans-serif;
   background-color: black;
}
table h1
{
    color: aliceblue;
    text-align: center;
}
.rps
{
    color: white;
    letter-spacing: 5px;
    word-spacing: 5px;
    margin-top: 20px;
}